<template>
  <div v-if="totalPages && totalPages > 1" class="w-100 user-select-none">
    <ul class="pagination pagination mb-0">
      <li class="page-item">
        <span
          role="button"
          class="page-link"
          :class="{ disabled: modelValue === 1 }"
          @click="goFirstPage"
        >
          <font-awesome-icon icon="fa-angles-left" />
        </span>
      </li>
      <li class="page-item">
        <span
          role="button"
          class="page-link"
          :class="{ disabled: modelValue === 1 }"
          @click="goPreviousPage"
        >
          <font-awesome-icon icon="fa-angle-left" />
        </span>
      </li>

      <li
        v-for="page in toDisplayPagination"
        :key="page"
        class="page-item"
        :class="{ active: modelValue === page }"
      >
        <span role="button" class="page-link" @click="goToPage(page)">{{ page }}</span>
      </li>

      <li class="page-item">
        <span
          role="button"
          class="page-link"
          :class="{ disabled: modelValue === totalPages }"
          @click="goNextPage"
        >
          <font-awesome-icon icon="fa-angle-right"/>
        </span>
      </li>
      <li class="page-item">
        <span
          role="button"
          class="page-link"
          :class="{ disabled: modelValue === totalPages }"
          @click="goLastPage"
        >
          <font-awesome-icon icon="fa-angles-right"/>
        </span>
      </li>
    </ul>
  </div>
</template>

<script>
import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";
import {library} from '@fortawesome/fontawesome-svg-core'
import {faAnglesLeft, faAngleLeft, faAngleRight, faAnglesRight} from '@fortawesome/free-solid-svg-icons'

library.add(faAnglesLeft, faAngleLeft, faAngleRight, faAnglesRight)

export default {
  name: 'AmsomPagination',
  components: {
    FontAwesomeIcon
  },
  props: {
    modelValue: {
      type: Number,
      required: true
    },

    totalPages: {
      type: Number,
      required: true
    },

    totalDisplayPages: {
      type: Number,
      default: 5
    }
  },

  emits: ['update:modelValue'],

  methods: {
    goNextPage() {
      this.goToPage(this.modelValue + 1)
    },
    goPreviousPage() {
      this.goToPage(this.modelValue - 1)
    },
    goFirstPage() {
      this.goToPage(1)
    },
    goLastPage() {
      this.goToPage(this.totalPages)
    },
    goToPage(page) {
      this.$emit('update:modelValue', page)
    },
  },

  computed: {
    toDisplayPagination() {
      let pages = []

      if (this.totalPages <= this.totalDisplayPages) {
        pages = this.totalPages
      } else {
        let start
        let end
        if(this.totalDisplayPages % 2 === 0) {
          start = this.modelValue - Math.floor(this.totalDisplayPages / 2) + 1
          end = this.modelValue + Math.floor(this.totalDisplayPages / 2)
        }
        else {
          start = this.modelValue - Math.floor(this.totalDisplayPages / 2)
          end = this.modelValue + Math.floor(this.totalDisplayPages / 2)
        }

        if (start < 1) {
          start = 1
          end = this.totalDisplayPages
        }

        if (end > this.totalPages) {
          end = this.totalPages
          start = this.totalPages - this.totalDisplayPages + 1
        }

        for (let i = start; i <= end; i++) {
          pages.push(i)
        }
      }

      return pages
    },
  }
}
</script>
