<template>
  <amsom-overlay :loading="processing">
    <amsom-card>
      <h5>{{ title }}</h5>

      <template v-if="loading">
        <amsom-skeleton
          :config="[3,3]"
          row-class="justify-content-between"
        />
        <amsom-skeleton
          :config="[12]"
        />
      </template>

      <template v-else>
        <div v-if="!documentList?.length">
          <p>Aucun document</p>
        </div>

        <div
          v-for="(document, index) in documentList"
          v-else
          :key="index"
          class="document-item pt-2"
        >
          <div class="d-flex justify-content-between text-primary">
            <p class="mb-0">
              {{ document.categorie }}
            </p>

            <p class="mb-0">
              {{ unixToDateString(document.dateFichier) }}
            </p>
          </div>

          <div
            class="bg-primary bg-opacity-25 mt-0 rounded-3"
            @click="handleClick(document, index)"
          >
            <div role="button" class="d-flex justify-content-between align-items-center p-2 px-3 text-secondary">
              <strong v-if="!anonym">{{ document.titre }}</strong>

              <strong v-else>Document {{ index + 1 }}</strong>

              <font-awesome-icon
                v-if="clickAction === 'download'"
                icon="fa-solid fa-cloud-arrow-down"
              />
              <font-awesome-icon
                v-else-if="clickAction === 'view'"
                icon="fa-solid fa-eye"
              />
            </div>
          </div>
        </div>
      </template>
    </amsom-card>
  </amsom-overlay>
</template>

<script>
import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";
import {library} from '@fortawesome/fontawesome-svg-core'
import {faCloudArrowDown, faEye} from '@fortawesome/free-solid-svg-icons'
import AmsomCard from "@/AmsomCard.vue";
import AmsomOverlay from "@/AmsomOverlay.vue";
import AmsomSkeleton from "@/AmsomSkeleton.vue";
import {downloadBlob, openFileBlob} from "@amsom-habitat/file-utils";
import {unixToDateString} from "@amsom-habitat/date-utils";

library.add(faCloudArrowDown, faEye)

export default {
  name: 'AmsomDocumentList',
  components: {
    AmsomSkeleton,
    AmsomOverlay,
    AmsomCard,
    FontAwesomeIcon
  },

  props: {
    title: {
      type: String,
      default: "Mes documents"
    },

    loading: {
      type: Boolean,
      default: false
    },

    documentList: {
      type: Array,
      required: true,
      validator: (list) => list.every(doc => doc.categorie && doc.dateFichier)
    },

    anonym: {
      type: Boolean,
      default: false
    },

    getDocumentBlob: {
      type: Function,
      required: true
    },

    clickAction: {
      type: String,
      default: 'download',
      validator: (action) => ['download', 'view'].includes(action)
    }
  },

  data() {
    return {
      processing: false
    }
  },

  methods: {
    unixToDateString,
    handleClick(document, index) {
      if (this.clickAction === 'download') {
        this.downloadFile(document, index)
      } else {
        this.viewFile(document)
      }
    },
    async downloadFile(document, index) {
      this.processing = true
      let title = this.anonym ? 'Document ' + (index + 1) : (document?.titre ?? 'Document')

      let blob = await this.getDocumentBlob(document)

      downloadBlob(blob, title)

      this.processing = false
    },
    async viewFile(document) {
      this.processing = true
      let blob = await this.getDocumentBlob(document)

      openFileBlob(blob)

      this.processing = false
    }
  }
}
</script>
