<template>
  <div>
    <div
      class="p-2 m-0 bg-black bg-opacity-25 h-100 w-100 position-fixed top-50 start-50 translate-middle min-vw-100 min-vh-100 d-flex justify-content-center align-items-center overflow-y-auto"
      style="z-index: 1055;"
      :class="{ 'd-none': reduced }"
      @mouseup.self="handleMouseUp"
      @mousedown.self="handleMouseDown"
    >
      <div
        :id="modalId"
        class="container-fluid bg-white rounded-4 p-3 position-relative"
        :class="[
          position !== 'top' ? 'mt-auto' : '',
          position !== 'bottom' ? 'mb-auto' : '', 
          modalSize 
        ]"
        @mousedown="insideModal = true"
        @mouseup="insideModal = false"
      >
        <font-awesome-icon
          v-if="closeOption"
          icon="fa-solid fa-times"
          role="button"
          class="position-absolute top-0 end-0 m-3 translate-middle-y"
          size="lg"
          @click="$emit('close')"
        />
        <div
          class="amsom-modal-body overflow-y-auto mt-2"
        >
          <slot name="title">
            <span
              v-if="title"
              class="h4"
            >
              {{ title }}
              <hr>
            </span>
          </slot>
          <slot name="default">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor
              sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            </p>
          </slot>
        </div>
      </div>
      <div
        v-if="reducible"
        class="position-fixed bottom-0 end-0 mb-3 me-3 "
      >
        <button
          class="btn btn-primary"
          @click="reduced = !reduced"
        >
          Réduire la fenêtre
        </button>
      </div>
    </div>
    <div
      v-if="reducible && reduced"
      class="position-fixed bottom-0 end-0 mb-3 me-3 "
    >
      <button
        class="btn btn-primary"
        @click="reduced = !reduced"
      >
        Restaurer la fenêtre
      </button>
    </div>
  </div>
</template>

<script>
import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome"
import {library} from '@fortawesome/fontawesome-svg-core'
import {faTimes} from '@fortawesome/free-solid-svg-icons'

library.add(faTimes)

export default {
  name: 'AmsomModalComponent',
  components: {
    FontAwesomeIcon
  },

  props: {
    closeOption: {
      type: Boolean,
      default: false
    },

    size: {
      type: String,
      default: 'md'
    },

    position: {
      type: String,
      default: 'center'
    },

    title: {
      type: String,
      default: "",
    },

    reducible: {
      type: Boolean,
      default: false
    }
  },

  emits: ['close'],

  data() {
    return {
      alreadyHidden: false,
      modalId: 'modal-' + Math.random().toString(36).substring(2, 9),
      reduced: false,
      insideModal: false
    }
  },

  computed: {
    // Dimension de la modal
    modalSize() {
      switch (this.size) {
        case 'xl':
          return 'col-12';
        case 'lg':
          return 'col-12 col-md-10';
        case 'sm':
          return 'col-12 col-md-6';
        case 'xs':
          return 'col-12 col-md-4';
        case 'xxs':
          return 'col-12 col-md-3';
        default:
          return 'col-12 col-md-8';
      }
    }
  },

  mounted() {
    // Gestion du scroll
    if (document.body.style.overflow.includes('hidden')) {
      this.alreadyHidden = true
    } else {
      document.body.style.overflow = 'hidden'
    }

    if(this.closeOption) {
      // Enregistrement de l'ID de la modal dans localStorage
      this.registerModal()

      // Fermeture de la modal avec la touche echap
      document.addEventListener('keydown', this.closeEsc)
    }
  },

  beforeUnmount() {
    // Gestion du scroll
    if (!this.alreadyHidden) {
      document.body.style.overflow = ''
    }

    if(this.closeOption) {
      // Suppression de l'ID de la modal dans localStorage
      this.unregisterModal()

      // Fermeture de la modal avec la touche echap
      document.removeEventListener('keydown', this.closeEsc)
    }
  },

  methods: {
    handleMouseDown() {
      this.insideModal = false;
    },
    
    handleMouseUp() {
      if (!this.insideModal && this.closeOption) {
        this.$emit('close');
      }
    },
    
    // Enregistrement de l'ID de la modal dans localStorage
    registerModal() {
      let openModals = JSON.parse(localStorage.getItem('openModals')) || [];
      openModals.push(this.modalId);
      localStorage.setItem('openModals', JSON.stringify(openModals));
    },

    // Suppression de l'ID de la modal dans localStorage
    unregisterModal() {
      let openModals = JSON.parse(localStorage.getItem('openModals')) || [];
      openModals = openModals.filter(id => id !== this.modalId);
      localStorage.setItem('openModals', JSON.stringify(openModals));
    },

    // Fermeture de la modal avec la touche echap
    closeEsc(e) {
      if (e.key === 'Escape') {
        const openModals = JSON.parse(localStorage.getItem('openModals')) || [];
        const topModalId = openModals[openModals.length - 1];
        if (topModalId === this.modalId) {
          this.$emit('close');
        }
      }
    }
  }
}
</script>
