<template>
  <div
    class="container row placeholder-wave"
    :class="rowClass"
  >
    <div
      v-for="(item, idx) in config"
      :key="idx"
      class="placeholder mt-1"
      :class="[loaderClass, 'col-'+item]"
    />
  </div>
</template>

<script>
export default {
  name: 'AmsomSkeleton',

  props:{
    /**
     * @type {Array}
     * @description Nombre et taille (col-*) des placeholders
     * @default [8, 10, 12]
     */
    config: {
      type: Array,
      default: () => [8, 10, 12],
    },

    rowClass: {
      type: String,
      default: '',
    },

    loaderClass: {
      type: String,
      default: 'text-gray rounded-2',
    },
  }
}
</script>

<style lang="scss" scoped>

</style>
