<template>
  <div class="position-relative"> 
    <div 
      v-if="header"
      class="card card-header"
      :class="headerClass"
    >
      <slot name="header" />
    </div>

    <div
      class="card position-relative h-100"
      :class="[
        {
          'rounded-top-0' : header,
          'rounded-bottom-0' : footer
        }, cardClass
      ]"
    >
      <div 
        class="position-relative overflow-y-auto h-100"
        :style="cardStyle"
      >
        <div
          :class="[
            {
              'card-body' : !noBody
            }
          ]"
          style="position: relative; z-index: 1;"
        >
          <slot name="title">
            <h4
              v-if="title && !bubbleTitle"
              class="card-title"
            >
              {{ title }}
            </h4>
          </slot>
          <slot />
        </div>
      </div>

      <img
        v-if="bgImage"
        :src="bgImage"
        class="img img-fluid bg-white object-fit-cover h-100 w-100 position-absolute top-0 start-0 rounded-1"
        alt="Image de fond du widget"
        :style="{
          opacity: bgOpacity, 
          zIndex: 0 
        }"
        :class="[
          {
            'rounded-top-0' : header,
            'rounded-bottom-0' : footer
          }
        ]"
      >
    </div>

    <span
      v-if="title && bubbleTitle"
      id="bubble-title"
      class="position-absolute top-0 start-0 translate-middle-y rounded-pill shadow px-1"
      :class="bubbleTitleClass"
      style="z-index: 2"
    >
      {{ title }}
    </span>

    <div
      v-if="footer"
      class="card card-footer"
      :class="footerClass"
    >
      <slot name="footer" />
    </div>
  </div>
</template>

<script>
export default {
    name: 'AmsomCard',
    props: {
        //string or null
        title: {
            type: String,
            default: null,
        },

        bgImage: {
          type: String,
          default: null,
        },

        bgOpacity: {
          type: Number,
          default: 0.25,
          validator: (value) => {
            return value >= 0 && value <= 1;
          },
        },

        bubbleTitle:{
          type: Boolean,
          default: false,
        },

        bubbleTitleClass:{
          type: String,
          default: 'bg-primary text-white',
        },

        noBody: {
          type: Boolean,
          default: false,
        },

        header: {
          type: Boolean,
          default: false,
        },

        headerClass: {
          type: String,
          default: '',
        },

        cardClass: {
          type: String,
          default: '',
        },

        cardStyle: {
          type: String,
          default: '',
        },

        footer: {
          type: Boolean,
          default: false,
        },

        footerClass: {
          type: String,
          default: '',
        },
    }
}
</script>
