<template>
  <div class="d-flex justify-content-between">
    <div
      v-for="(s, idx) in steps"
      :key="s.numero"
      :role="s.numero < currentStep ? 'button' : 'none'"
      class="stepper-item"
      :class="[
        {'active': s.numero === currentStep,
         'completed': s.numero < currentStep}
      ]"
      @click="$emit('clickStep', s.numero)"
    >
      <div
        class="step-counter"
        :style="{fontSize: fontSizeStep + 'rem'}"
        :class="[
          'bg-' + (idx + 1 < currentStep ? passedStepBgColor : idx + 1 === currentStep ? currentStepBgColor : futureStepBgColor),
          (idx + 1 < currentStep ? passedStepCss : idx + 1 === currentStep ? currentStepCss : futureStepCss)
        ]"
      >
        <template v-if="idx + 1 < currentStep && checkPassedStep">
          <font-awesome-icon :icon="['fas', 'check']" />
        </template>
        <template v-else>
          {{ s.numero }}
        </template>
      </div>

      <div
        v-if="!hideText"
        class="step-name"
        :class="[(idx + 1 < currentStep ? passedStepTextCss : idx + 1 === currentStep ? currentStepTextCss : futureStepTextCss)]"
        :style="{fontSize: fontSizeText + 'rem'}"
      >
        {{ s.texte }}
      </div>
    </div>
  </div>
</template>

<script>
import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";
import {library} from '@fortawesome/fontawesome-svg-core'
import {faCheck} from '@fortawesome/free-solid-svg-icons'

library.add(faCheck)

export default {
  name: "AmsomHorizontalStepper",
components: {
    FontAwesomeIcon,
  },

  props: {
    currentStep: {
      type: Number,
      required: true,
      default: 1
    },

    steps: {
      type: Array,
      required: true,
      default: () => {
        return [
          {
            numero: 1,
            texte: 'Step 1',
          },
          {
            numero: 2,
            texte: 'Step 2',
          },
          {
            numero: 3,
            texte: 'Step 3',
          }
        ]
      }
    },

    size: {
      type: String,
      required: false,
      default: 'md',

      validator: function (value) {
        return ['sm', 'md', 'lg'].indexOf(value) !== -1
      }
    },

    checkPassedStep: {
      type: Boolean,
      required: false,
      default: true
    },

    passedStepBgColor: {
      type: String,
      required: false,
      default: 'success'
    },

    currentStepBgColor: {
      type: String,
      required: false,
      default: 'primary'
    },

    futureStepBgColor: {
      type: String,
      required: false,
      default: 'secondary'
    },

    passedStepCss: {
      type: String,
      required: false,
      default: 'text-white'
    },

    currentStepCss: {
      type: String,
      required: false,
      default: 'text-white fw-bold'
    },

    futureStepCss: {
      type: String,
      required: false,
      default: 'text-white'
    },

    passedStepTextCss: {
      type: String,
      required: false,
      default: ''
    },

    currentStepTextCss: {
      type: String,
      required: false,
      default: 'fw-bold'
    },

    futureStepTextCss: {
      type: String,
      required: false,
      default: ''
    },

    hideText: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  emits: ['clickStep'],

  computed: {
    fontSizeText() {
      return this.bubbleSize / 2.5
    },

    fontSizeStep() {
      return this.bubbleSize / 2
    },

    bubbleSize() {
      switch (this.size) {
        case 'sm':
          return 2
        case 'lg':
          return 4
        default:
          return 3
      }
    },

    passedStepBgColorCss() {
      return 'var(--bs-' + this.passedStepBgColor + ')'
    },

    futureStepBgColorCss() {
      return 'var(--bs-' + this.futureStepBgColor + ')'
    },

    currentStepBgColorCss() {
      return 'var(--bs-' + this.currentStepBgColor + ')'
    },

    lineTopCss() {
      return 'calc(' + this.bubbleSize + '/ 2)'
    }
  },
}
</script>

<style>
.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid v-bind(futureStepBgColorCss);
  width: 100%;
  left: 50%;
  z-index: 2;
  height: v-bind(bubbleSize+ 'rem');
  transform: translateY(-50%);
}

.stepper-item.completed::after {
  border-bottom: 2px solid v-bind(passedStepBgColorCss);
  transition: ease-in-out 0.2s;
}

.stepper-item:last-child::after {
  content: none;
}


.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: v-bind(bubbleSize+ 'rem');
  height: v-bind(bubbleSize+ 'rem');
  border-radius: 50%;
  margin-bottom: 6px;
  font-size: v-bind(fontSizeStep+ 'rem');
}

.stepper-item.active .step-counter {
  transition: ease-in-out 0.2s;
}

.stepper-item.active .step-name {
  transition: ease-in-out 0.2s;
}

</style>
