<template>
  <div
    v-for="(step, idx) in steps"
    :key="step.numero"
    class="d-flex mb-1"
  >
    <div class="d-flex flex-column align-items-center">
      <div
        :style="{
          width: bubbleSize + 'rem',
          minHeight: bubbleSize + 'rem',
          height: bubbleSize + 'rem',
          lineHeight : bubbleSize + 'rem',
          fontSize: fontSize + 'rem'
        }"
        class="d-inline-block rounded-circle text-center mb-1"
        :class="[
          'bg-' + (idx + 1 < currentStep ? passedStepBgColor : idx + 1 === currentStep ? currentStepBgColor : futureStepBgColor),
          (idx + 1 < currentStep ? passedStepCss : idx + 1 === currentStep ? currentStepCss : futureStepCss)
        ]"
        @click="$emit('clickStep', s.numero)"
      >
        <template v-if="idx + 1 < currentStep && checkPassedStep">
          <font-awesome-icon :icon="['fas', 'check']" />
        </template>
        <template v-else>
          {{ step.numero }}
        </template>
      </div>

      <div
        v-if="idx<steps.length-1"
        class="line h-100"
        style="height: 30px; min-height: 30px"
      />
    </div>
    <span
      v-if="!hideText"
      class="ms-1"
      :class="[(idx + 1 < currentStep ? passedStepTextCss : idx + 1 === currentStep ? currentStepTextCss : futureStepTextCss)]"
      :style="{
        minHeight: bubbleSize + 'rem',
        lineHeight: bubbleSize + 'rem'
      }"
    >
      <slot
        name="stepContent"
        :step="step"
      >
        {{ step.texte }}
      </slot>
    </span>
  </div>
</template>

<script>
import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";
import {library} from '@fortawesome/fontawesome-svg-core'
import {faCheck} from '@fortawesome/free-solid-svg-icons'

library.add(faCheck)

export default {
  name: "WorkflowAssuranceBlock",
  components: {
    FontAwesomeIcon,
  },

  props: {
    steps: {
      type: Array,
      required: true,
      default: () => {
        return [
          {
            numero: 1,
            texte: 'Step 1',
          },
          {
            numero: 2,
            texte: 'Step 2',
          },
          {
            numero: 3,
            texte: 'Step 3',
          }
        ]
      }
    },

    currentStep: {
      type: Number,
      required: false,
      default: 1
    },

    size: {
      type: String,
      required: false,
      default: 'md'
    },

    checkPassedStep: {
      type: Boolean,
      required: false,
      default: true
    },

    passedStepBgColor: {
      type: String,
      required: false,
      default: 'success'
    },

    currentStepBgColor: {
      type: String,
      required: false,
      default: 'primary'
    },

    futureStepBgColor: {
      type: String,
      required: false,
      default: 'secondary'
    },

    passedStepCss: {
      type: String,
      required: false,
      default: 'text-white'
    },

    currentStepCss: {
      type: String,
      required: false,
      default: 'text-white fw-bold'
    },

    futureStepCss: {
      type: String,
      required: false,
      default: 'text-white'
    },

    passedStepTextCss: {
      type: String,
      required: false,
      default: 'white'
    },

    currentStepTextCss: {
      type: String,
      required: false,
      default: 'white'
    },

    futureStepTextCss: {
      type: String,
      required: false,
      default: 'white'
    },

    hideText: {
      type: Boolean,
      required: false,
      default: false
    }
  },

  emits: ['clickStep'],

  computed: {
    fontSize() {
      return this.bubbleSize / 2
    },

    bubbleSize() {
      switch (this.size) {
        case 'sm':
          return 2
        case 'lg':
          return 4
        default:
          return 3
      }
    },
  },
}
</script>

<style scoped>
.line {
  width: 0.125rem;
  background-color: var(--bs-gray-400) !important;
}
</style>
