<template>
  <div class="border border-1 border-grey rounded-4 p-2 d-flex align-items-center">
    <button
      type="button"
      class="btn rounded-4 me-1 d-flex justify-content-center align-items-center"
      :style="{
        width: imageSizeWidth,
        minWidth: imageSizeWidth,
        height: imageSizeHeight,
        minHeight: imageSizeHeight,
        backgroundColor: '#a4a228'
      }"
      :disabled="!canAddImage"
      @click="triggerFileInput"
    >
      <font-awesome-icon
        icon="fa-solid fa-camera"
        size="lg"
        class="text-white"
      />

      <input
        v-if="capture === 'file'"
        id="file"
        ref="fileInput"
        type="file"
        class="form-control"
        accept="image/*"
        style="display: none"
        multiple
        @input="getDataFiles"
      >

      <input
        v-else
        id="file"
        ref="fileInput"
        type="file"
        class="form-control"
        style="display: none"
        accept="image/*"
        multiple
        :capture="capture"
        @input="getDataFiles"
      >
    </button>

    <template v-if="images.length > 0">
      <div class="d-flex overflow-x-auto w-100">
        <button
          v-for="image in images"
          :key="image"
          type="button"
          class="btn p-0 mx-1 rounded-1"
          :style="{
            minWidth: imageSizeWidth,
            width: imageSizeWidth,
            minHeight: imageSizeHeight,
            height: imageSizeHeight
          }"
          @click="openPhoto(image)"
        >
          <img
            :src="'data:' + image?.type + ';base64,' + image?.file"
            class="h-100 w-100 rounded-1"
            :alt="image?.nomFichier"
          >
        </button>
      </div>
    </template>

    <div
      v-else
      class="fs-7"
    >
      Ajouter une image
    </div>

    <amsom-modal
      v-if="showModal"
      size="sm"
      close-option
      @close="closeModal"
    >
      <div class="row w-100 mx-auto">
        <div class="col-12 mb-3">
          <img
            :src="
              'data:' +
                images[selectedPhotoIndex]?.type +
                ';base64,' +
                images[selectedPhotoIndex]?.file
            "
            :alt="images[selectedPhotoIndex]?.nomFichier"
            class="h-100 w-100"
          >
        </div>

        <div
          class="col-12 d-flex justify-content-center"
        >
          <button
            type="button"
            class="btn btn-primary mx-1"
            @click="changeIndex(0)"
          >
            <font-awesome-icon
              icon="fa-arrow-left"
              size="lg"
            />
          </button>

          <button
            type="button"
            class="btn btn-primary mx-1"
            @click="changeIndex(1)"
          >
            <font-awesome-icon
              icon="fa-arrow-right"
              size="lg"
            />
          </button>

          <button
            type="button"
            class="btn btn-danger ms-auto"
            @click="deleteImage"
          >
            <font-awesome-icon
              icon="fa-trash"
              size="lg"
            />
          </button>
        </div>
      </div>
    </amsom-modal>
  </div>
</template>

<script>
import AmsomModal from '@/AmsomModal.vue'
import {isImage, handleFile, resizeImage, base64ToBlob} from '@amsom-habitat/file-utils'

import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";
import {library} from '@fortawesome/fontawesome-svg-core'
import {faCamera, faTrash, faArrowRight, faArrowLeft} from '@fortawesome/free-solid-svg-icons'

library.add(faCamera, faTrash, faArrowRight, faArrowLeft)

export default {
  name: 'PhotoComponent',

  components: {
    AmsomModal,
    FontAwesomeIcon
  },

  props: {
    images: {
      type: Array,
      default: () => []
    },

    imageSizeWidth: {
      type: String,
      default: '50px'
    },

    imageSizeHeight: {
      type: String,
      default: '50px'
    },

    imagesLimit: {
      type: Number,
      default: -1
    },

    capture: {
      type: String,
      default: 'file'
    }
  },

  emits: ['update:images'],


  data() {
    return {
      showModal: false,
      selectedPhotoIndex: 0
    }
  },

  computed: {
    canAddImage() {
      if(this.imagesLimit === -1) return true
      return this.imagesLimit !== -1 && this.images.length < this.imagesLimit
    }
  },

  methods: {
    triggerFileInput() {
      this.$refs.fileInput.click()
    },

    openPhoto(image) {
      this.selectedPhotoIndex = this.images.findIndex((p) => p === image)
      this.showModal = true
    },

    closeModal() {
      this.showModal = false
    },

    changeIndex(sens) {
      if (sens === 0) {
        this.selectedPhotoIndex = this.selectedPhotoIndex === 0 ? 0 : this.selectedPhotoIndex - 1
      } else {
        this.selectedPhotoIndex =
          this.selectedPhotoIndex === this.images.length - 1 ? 0 : this.selectedPhotoIndex + 1
      }
    },

    deleteImage() {
      this.$emit(
        'update:images',
        this.images.filter((_, index) => index !== this.selectedPhotoIndex)
      )

      // Gestion des images
      if (this.images.length - 1 === 0) {
        this.closeModal()
      } else {
        this.changeIndex(0)
      }
    },

    getDataFiles(event) {
      let files = event.target.files

      if (!files) return

      // Réduction du nombre d'images
      if (this.imagesLimit !== -1) {
        files = Array.from(files)
        files = files.slice(0, this.imagesLimit)
      }

      for (let image of files) {
        if (!isImage(image)) continue


          resizeImage({ file: image, maxWidth: this.maxWidth, maxHeigth: this.maxHeigth })
          .then((res) => {
            handleFile(base64ToBlob(res), image.type.split('/')[1])
              .then((fileInfos) => {
                fileInfos.nomFichier = image.name

                // Ajout de l'image dans la liste
                this.$emit('update:images', [...this.images, fileInfos])
              })
          })
      }
    }
  }
}
</script>
