<template>
  <div v-if="lineEditMode" class="my-3 text-center">
    <button type="button" class="btn btn-success rounded-5 m-0 p-0" style="height: 45px; width: 45px;" @click="$emit('lineEditModeAddNewLine')">
      <font-awesome-icon icon="fa-solid fa-plus" size="xl" />
    </button>
  </div>

  <div class="row mb-3 overflow-x-auto">
    <div class="col-12">
      <table
        id="table-draggable"
        :key="forceTableUpdateIndex"
        class="table table-striped table-hover table-responsive overflow-hidden table-bordered align-middle border-1 border-top border-bottom"
        style="border-radius: 10px !important; border-collapse: separate; border-spacing: 0"
      >
        <thead>
          <vue-draggable-next
            v-model="columns"
            :ghost-class="ghostClass"
            :drag-class="ghostClass"
            tag="tr"
            :move="checkMove"
            group="columns"
          >
            <template 
              v-for="header in columns" 
              :key="header.id"
            >
              <th
                v-if="header.id === 'checkBox'"
                class="text-center bg-secondary"
                scope="col"
                @click.stop="toggleAllCheckBox"
              >
                <input
                  id="checkBoxSelectAll"
                  v-model="checkAllCheckBox"
                  class="form-check-input"
                  type="checkbox"
                  @click.stop="toggleAllCheckBox"
                >
              </th>
              <th
                v-else-if="header.id === 'deleteButton' && lineEditMode"
                class="bg-secondary"
                scope="col"
              />
              <th
                v-else-if="header.show || headerEditMode"
                scope="col"
                class="text-white bg-secondary hoverable position-relative text-center"
                :class="[
                  { 
                    'table-danger': !header.show, 
                    'pt-5': headerEditMode 
                  }
                ]"
              >
                <div
                  v-if="headerEditMode"
                  class="position-absolute start-50 translate-middle"
                  style="top: 25px"
                >
                  <font-awesome-icon
                    v-if="header.show"
                    icon="fa-solid fa-eye"
                    class="fa-xl"
                    @click="header.show = false"
                  />
                  <font-awesome-icon
                    v-else
                    icon="fa-solid fa-eye-slash"
                    class="fa-xl"
                    @click="header.show = true"
                  />
                </div>

                <div class="d-inline-flex text-nowrap">
                  <span class="my-auto">{{ header.libelle }}</span>
                  <div 
                    v-if="header.isSortable" 
                    class="ms-2 float-end"
                  >
                    <font-awesome-icon
                      :icon="
                        sortKey !== header.id || (sortKey === header.id && !sortAsc)
                          ? 'fa-solid fa-arrow-down-wide-short'
                          : 'fa-solid fa-arrow-up-short-wide'
                      "
                      @click="updateCurrentSort(header)"
                    />
                  </div>
                </div>
              </th>
            </template>
          </vue-draggable-next>
        </thead>
        <tbody>
          <tr v-if="showeditems?.length === 0">
            <th 
              :colspan="columns.length" 
              class="text-center"
            >
              <span class="text-danger fs-5">Aucune valeur</span>
            </th>
          </tr>

          <tr
            v-for="(item, index) in showeditems"
            v-else
            :key="item.id"
            :class="{ 'hoverable': clickable }"
            @click="clickable ? selectSubject(item) : null"
          >
            <template 
              v-for="header in columns" 
              :key="header.id"
            >
              <td
                v-if="header.id === 'checkBox'"
                class="text-center"
                :class="[item.lineState ? lineStateClass(item.lineState) : '']"
                @click.stop="checkItem(item.id)"
              >
                <input
                  :id="`checkbox-${index}`"
                  v-model="selectedItems"
                  type="checkbox"
                  class="form-check-input hoverable"
                  :value="item.id"
                  @click.stop
                >
              </td>
              <td 
                v-else-if="header.id === 'deleteButton' && lineEditMode"
                :class="[item.lineState ? lineStateClass(item.lineState) : '']"
                class="text-center py-0"
              >
                <button type="button" class="btn btn-danger" @click="$emit('lineEditModeDeleteLine', item.id)">
                  <font-awesome-icon icon="fa-solid fa-trash" size="lg" />
                </button>
              </td>
              <td
                v-else-if="header.show || headerEditMode"
                :class="[!header.show ? 'table-danger' : '', header.isSorted ? 'bg-gray-200' : '', item.lineState ? lineStateClass(item.lineState) : '']"
                class="text-center text-nowrap"
              >
                <slot 
                  name="tableBodyTd" 
                  :header="header" 
                  :item="item" 
                />
              </td>
            </template>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mb-2">
    <div 
      v-if="totalPages && totalPages > 1" 
      class="col"
    >
      <ul class="m-0 pagination pagination-sm">
        <li class="page-item hoverable">
          <a 
            class="page-link" 
            :class="{ disabled: currentPage === 1 }" 
            @click="currentPage = 1"
          >
            &laquo;
          </a>
        </li>
        <li class="page-item hoverable">
          <a 
            class="page-link" 
            :class="{ disabled: currentPage === 1 }" 
            @click="currentPage -= 1"
          >
            &lt;
          </a>
        </li>

        <li
          v-for="page in currentDisplayPagination"
          :key="page"
          class="page-item hoverable"
          :class="{ active: currentPage === page }"
        >
          <a 
            class="page-link" 
            @click="currentPage = page"
          >
            {{ page }}
          </a>
        </li>

        <li class="page-item hoverable">
          <a
            class="page-link"
            :class="{ disabled: currentPage === totalPages }"
            @click="currentPage += 1"
          >
            &gt;
          </a>
        </li>
        <li class="page-item hoverable">
          <a
            class="page-link"
            :class="{ disabled: currentPage === totalPages }"
            @click="currentPage = totalPages"
          >
            &raquo;
          </a>
        </li>
      </ul>
    </div>
    <div 
      v-if="showModifyColumnsBtn" 
      class="col d-flex justify-content-end"
    >
      <div class="d-flex mb-1">
        <div 
          v-if="headerEditMode" 
          class="d-flex"
        >
          <button
            id="btn-save-table"
            class="btn btn-sm btn-success d-flex justify-content-center align-items-center ms-auto me-2"
            type="button"
            @click="saveTablePreferences"
          >
            Sauvegarder
          </button>
          <button
            id="btn-reset-table"
            class="btn btn-sm btn-outline-danger d-flex justify-content-center align-items-center"
            type="button"
            @click="resetTablePreferences"
          >
            Réinitialiser le tableau
          </button>
        </div>

        <button
          v-else
          id="btn-edit-table"
          class="btn btn-sm btn-outline-secondary d-flex justify-content-center align-items-center fs-7 p-1 rounded-3"
          type="button"
          @click="editTablePreferences"
        >
          Modifier colonnes
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";
import {library} from '@fortawesome/fontawesome-svg-core'
import {faEye, faEyeSlash, faArrowDownWideShort, faArrowUpShortWide, faTrash, faPlus} from '@fortawesome/free-solid-svg-icons'
library.add(faEye, faEyeSlash, faArrowDownWideShort, faArrowUpShortWide, faTrash, faPlus)

import { VueDraggableNext } from 'vue-draggable-next'
import moment from 'moment-timezone'
import { sortArray } from '@/js/array.js'
import { normalize, unixToDateString } from '@/js/text.js'
import {
  getPreferences,
  setPreferences,
  updateArrayColumnsPreferences,
  updateDataPreferences
} from '@/js/preferences.js'

export default {
  name: 'TableDraggableComponent',
  components: { VueDraggableNext, FontAwesomeIcon },
  props: {
    defaultColumns: {
      type: Array,
      require: true,
      default: null
    },

    localStorageItemName: {
      type: String,
      default: null,
    },

    tdItemsList: {
      type: [Array, Object],
      require: true,
      default: null
    },

    search: {
      type: String,
      default: null
    },

    pickedDate: {
      type: Array,
      default: null
    },

    columnNameDateFilter: {
      type: Array,
      default: null
    },

    maxItemPerPage: {
      type: Number,
      default: 10
    },

    clickable: {
      type: Boolean,
      default: false
    },

    showModifyColumnsBtn: {
      type: Boolean,
      default: false
    },

    ghostClass: {
      type: String,
      default: 'bg-success'
    },

    lineEditMode: {
      type: Boolean,
      default: false
    }
  },

  emits: ['changeSubject', 'updateSelectedItems', 'lineEditModeAddNewLine', 'lineEditModeDeleteLine'],

  data() {
    return {
      checkAllCheckBox: false,

      sortKey: null,
      sortAsc: false,
      currentPage: 1,
      selectedItems: [],
      currentHeaderSort: null,

      headerEditMode: false,
      totalPages: null,

      // Default values
      columns: this.copyDefaultColumns(),
      maxItemsPerPage: this.getDefaultMaxItemPerPage(),

      forceTableUpdateIndex: 0
    }
  },

  computed: {
    currentDisplayPagination() {
      let pages = []

      if (this.totalPages <= 1) {
        return pages
      }

      // Si nous sommes à la première page, nous affichons les trois premières pages
      if (this.currentPage === 1) {
        pages = [1, 2, 3]
      }
      // Si nous sommes à la dernière page, nous affichons les trois dernières pages
      else if (this.currentPage === this.totalPages) {
        pages = [this.totalPages - 2, this.totalPages - 1, this.totalPages]
      }
      // Dans tous les autres cas, nous affichons la page actuelle, la page précédente et la page suivante
      else {
        pages = [this.currentPage - 1, this.currentPage, this.currentPage + 1]
      }

      // Nous filtrons les pages pour ne pas afficher de pages qui n'existent pas (par exemple, la page 0 ou une page supérieure à totalPages)
      return pages.filter((page) => page >= 1 && page <= this.totalPages)
    },

    items() {
      if (!this.tdItemsList) return []

      return this.tdItemsList
    },

    filtereditems() {
      if (!this.items) return this.items

      let r = normalize(this.search)

      let deb
      let fin
      if (this.pickedDate && this.pickedDate[0] && this.pickedDate[1]) {
        deb = moment(this.pickedDate[0]).set({ hour: 0, minute: 0 }).unix()
        fin = moment(this.pickedDate[1]).set({ hour: 23, minute: 59 }).unix()
      }

      // Filtre en fonction des de toutes les colonnes de l'objet
      return this.items.filter((item) => {
        let matchesSearch = this.filterBy(item, r)

        // Par rapport à la date de saisie/debut de période
        if (deb && fin && this.columnNameDateFilter && this.columnNameDateFilter.length > 0) {
          // On vérifie qu'il il y a au moins une colonne date affichée
          let isDateColumnDisplayed = this.columnNameDateFilter.some((column) => {
            const tempCol = this.columns.find((col) => col.id === column)
            return tempCol && tempCol.show === true
          })

          if (isDateColumnDisplayed) {
            let matchesDate = this.columnNameDateFilter.some((column) => {
              const tempCol = this.columns.find((col) => col.id === column)

              // Si la colonne existe et elle est affichée
              if (item[column] && tempCol.show === true) {
                let itemDate = parseInt(item[column])
                return itemDate >= deb && itemDate <= fin
              }
              return false
            })
            return matchesSearch && matchesDate
          }
        }

        return matchesSearch
      })
    },

    showeditems() {
      const items = this.filtereditems.slice((this.currentPage - 1) * this.maxItemsPerPage, this.currentPage * this.maxItemsPerPage)

      if (!this.sortKey || !this.filtereditems) 
      return items

      return sortArray(items, this.sortKey, this.sortAsc)
    }
  },

  watch: {
    headerEditMode(newValue) {
      if (newValue) this.maxItemsPerPage = 5
      else this.maxItemsPerPage = this.getDefaultMaxItemPerPage()
    },

    filtereditems: function (newValue) {
      // Pagination
      this.currentPage = 1
      this.totalPages = this.newTotalPage(newValue.length)
    },

    maxItemPerPage: function (newValue) {
      // Préférences
      this.maxItemsPerPage = newValue
      if(this.localStorageItemName !== null) setPreferences(this.localStorageItemName, newValue, 'maxItemPerPage')

      // Pagination
      this.currentPage = 1
      this.totalPages = this.newTotalPage(this.filtereditems.length)
    },

    columns: function (newValue) {
      if(this.localStorageItemName !== null) setPreferences(this.localStorageItemName, newValue, 'columns')
      this.forceTableUpdateIndex += 1 // Force la mise à jour du tableau
    },

    showeditems: function () {
      // Lorsque la page change, on vérifie que les éléments sont sélectionnés ou non
      // Si this.selectedItems contient les éléments affichées, on set a true la checkboxAll
      this.checkAllCheckBox = this.showeditems.every((item) => this.selectedItems.includes(item.id))
    },
  },

  mounted() {
    if(this.localStorageItemName !== null) {
      updateArrayColumnsPreferences(this.localStorageItemName, this.columns)
      updateDataPreferences(this.localStorageItemName, this.maxItemPerPage, 'maxItemPerPage')

      let preferences = getPreferences(this.localStorageItemName)
      this.maxItemsPerPage = preferences.maxItemPerPage
      this.columns = preferences.columns
    }

    this.totalPages = this.newTotalPage(this.filtereditems.length)
  },

  methods: {
    unixToDateString,

    newTotalPage(nbItems) {
      return Math.ceil(nbItems / this.maxItemsPerPage)
    },

    lineStateClass(state) {
      if(state === 'add') return 'addLineState text-success'
      if(state === 'delete') return 'deleteLineState text-danger'
      if(state === 'update') return 'updateLineState text-warning'

      return ''
    },

    checkItem(id) {      
      if (this.selectedItems.includes(id)) {
        this.selectedItems = this.selectedItems.filter((item) => item !== id)
      } else {
        this.selectedItems.push(id)
      }

      if (this.checkAllCheckBox) 
        this.checkAllCheckBox = false
      else {
        // On vérifie si toutes les cases affichées sont cochées
        if (this.showeditems.every((item) => this.selectedItems.includes(item.id))) {
          this.checkAllCheckBox = true
        }
      }

      this.$emit('updateSelectedItems', this.selectedItems)
    },

    toggleAllCheckBox() {
      const listId = this.showeditems.map((item) => item.id)

      if (this.checkAllCheckBox) {
        // Si toutes les cases affichées sont déjà cochées, les décocher
        this.selectedItems = this.selectedItems.filter((item) => !listId.includes(item))
        this.checkAllCheckBox = false
      } else {
        // Sinon, cochées toutes les cases des éléments affichés
        this.selectedItems = [...new Set([...this.selectedItems, ...listId])]
        this.checkAllCheckBox = true
      }

      this.$emit('updateSelectedItems', this.selectedItems)
    },

    updateCurrentSort(header) {
      // Gestion affichage
      if (this.currentHeaderSort) this.currentHeaderSort.isSorted = false

      header.isSorted = true
      this.currentHeaderSort = header

      // Tri de la liste
      this.updateSortitems(header.id)
    },

    checkMove(event) {
      return event.draggedContext.index !== 0 && event.relatedContext.index !== 0
    },

    filterBy(item, search) {
      // Parcours des colonnes
      for (const column of this.columns) {
        // Vérifie si la valeur de la colonne correspond à la recherche
        if (column.show && item[column.id] && normalize(item[column.id]).includes(search)) {
          // L'élément correspond à la recherche
          return true
        }
        // Verifie si la valeur de la colonne correspond à la recherche d'un date
        else if (
          column.show &&
          column.id.startsWith('date') &&
          item[column.id] &&
          normalize(unixToDateString(item[column.id])).includes(search)
        ) {
          return true
        }
      }
      // L'élément ne correspond pas à la recherche OU est vide
      return !search
    },

    getDefaultMaxItemPerPage() {
      return this.maxItemPerPage
    },

    copyDefaultColumns() {
      return JSON.parse(JSON.stringify(this.defaultColumns))
    },

    updateSortitems(key) {
      if (!this.items) return this.items

      if (this.sortKey === key) this.sortAsc = !this.sortAsc
      else this.sortAsc = true

      this.sortKey = key

      this.$forceUpdate()
    },

    selectSubject(subject) {
      this.$emit('changeSubject', subject)
    },

    saveTablePreferences() {
      if(this.localStorageItemName !== null) setPreferences(this.localStorageItemName, this.columns, 'columns')
      this.headerEditMode = false
    },

    resetTablePreferences() {
      this.columns = this.copyDefaultColumns()
      if(this.localStorageItemName !== null) updateArrayColumnsPreferences(this.localStorageItemName, this.columns)
      this.headerEditMode = false
    },

    editTablePreferences() {
      this.headerEditMode = true
    }
  }
}
</script>

<style scoped>
input[type='checkbox'] {
  pointer-events: none;
}

.hoverable:hover {
  cursor: pointer !important;
}

.addLineState {
  background-color: #EDECD4 !important;
}

.deleteLineState {
  background-color: #F8D6DA !important;
}

.updateLineState {
  background-color: #FEEFB3 !important;
}
</style>
